#header-container {
  width: 100vw;
  max-width:100%;
  height: 8vh;
  min-height: 30px;
  box-sizing: border-box;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: black;
  display: flex;
  flex-direction: row;
}

#header-box-left {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;


}

#header-box-right {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 10px;
}

#header-title {
  font-size: 30px;
  color: white;
}

#header-box-left a {
  color: white;
  font-family: 'system-ui';
  font-weight: 500;
  text-decoration: none;
}

#header-box-center {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#header-box-center-box {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

#header-box-center-box:hover {
  background-color: rgb(40,40,40);
}

#header-box-center a {
  height: inherit;
  width: inherit;
  border-radius: inherit;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-auth-box {
  width: 130px;
  height: 38px;
  border-radius: 19px;
  background-color: rgb(10,10,10);
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-auth-box-logged-out {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: 18px;
}

.header-auth-box-link {
  margin: 10px;
}

#login-box {
  font-size: 18px;
  color: white;
}

.header-auth-box-button {
  width: 60px;
  background-color: rgb(20,20,20);
  border-radius: 10px;
  height: 30px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

.header-auth-box-button:hover {
  background-color: rgb(40,40,40);
}

#register-form-input-email:invalid {
  border: 1px solid red;
}

#header-auth-username {
  color: white;
  font-weight: 500;
  font-size: 0.8em;
  width: 5vw;
  height: 3vh;
  min-width: 50px;
  min-height: 30px;
  border-radius: 5px;
  background-color: rgb(20,20,20);
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-auth-box-logged-in:hover #header-auth-dropdown {
  display: flex;
  flex-direction: column;

}

#header-auth-box-logged-in {
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-auth-dropdown {
  display: none;
  position: absolute;
  top: 30px;
}

.header-auth-dropdown-button {
  width: 5vw;
  height: 3vh;
  min-width: 50px;
  min-height: 25px;
  border-radius: 2px;
  box-sizing: border-box;
  font-size: 0.8em;
  background-color: rgb(20,20,20);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.header-auth-dropdown-button a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-auth-dropdown-button:hover {
  background-color: rgb(50,50,50);
}

.header-auth-dropdown-button:focus {
  color: red;
  display: none;
}

@media only screen and (max-width: 750px) {
  #header-title {
    font-size: 16px !important;
  }
}


@media only screen and (max-width: 697px) {
  #header-box-center {
    display: none;
  }
}