#modal-delete-box {
  width: 400px;
  height: 300px;
  background-color: rgb(45,45,45);
  border: 1px solid rgb(80,80,80);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-delete-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

#modal-delete-label {
  color: white;
  font-size: 16px;
  font-family: Arial;
}

#modal-delete-close {
  position: absolute;
  left: 226px;
  bottom: 12px;
  font-size: 24px;
  color: white;
  user-select: none;
}

#modal-delete-content-box {
  width: 85%;
  height: 80%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#modal-delete-message {
  text-align: center;
  color: white;
  font-family: system-ui;
}

#modal-delete-button-panel {
  width: 80%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.modal-delete-button {
  height: 40px;
  width: 120px;
  background-color: #282828;
  color: white;
  border: 1px solid #444444;
  box-sizing: border-box;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 13px "Arial";
}

#modal-delete-input {
  display: none;
}

.modal-delete-button:hover {
  background-color: rgb(80,80,80);
}

#modal-delete-error {
  min-height: 15px;
  color: red;
  background-color: inherit;
  font: 12px "Arial";
  line-height: 0px;
}

#modal-delete-button-submit {
  background-color: rgb(160,80,80);
}

#modal-delete-button-submit:hover {
  background-color: rgb(240,80,80);
}