#script-detail-page-container {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#script-detail-page-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#script-detail-content-box {
  display: flex;
  flex-direction: row;
  color: white;
  flex-grow: 1;
  background-color: rgb(60, 60, 60);
}

#script-detail-content {
  margin-left: auto;
  margin-right: auto;
}

#script-detail-info {
  position: relative;
  min-height:100%;
  width: 330px;
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
}

#script-detail-script {
  flex-grow: 1;
}

#script-detail-info * {
  padding: 10px;
  margin: 5px 10px 5px 10px;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'system-ui';
}

#script-detail-info-description {
  border:1px solid rgb(41, 41, 41);
  white-space: pre-line;
  padding: 9px;
  margin: 5px 10px;
  height: 300px;
}

#script-detail-info-owner a {
  color: white;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

#script-detail-info-owner i {
  margin: 0px;
  padding: 0px;
}

#script-detail-info-title {
  padding: 10px;
  margin: 5px 10px;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

#script-detail-info-title i {
  margin: 0px;
  padding: 0px;
}

#script-detail-info-author-box {
  margin: 0px;
  padding: 0px;
}

#script-detail-info-author-box div {
  padding: 0px 10px;
  margin: 0px 10px;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

#script-detail-info-author-value {
  padding: 0px 10px;
  margin: 0px 10px;
}

#script-detail-info-author-value div {
  padding: 0px;
  margin: 0px;
  color: grey;
}

#script-detail-info-select {
  width: 150px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: rgb(77, 77, 77);
  color: white;
}

#script-detail-info-select:focus {
  outline: none;
}

#script-detail-script-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

#script-detail-hide-button {
  right: -70px;
  top: -5px;
  position: absolute;
  padding: 0px;
  height: 50px;
  width: 50px;
  margin-left: auto;
  border: 30px solid;
  border-top-color: rgb(55, 55, 55);
  border-right-color: rgb(60,60,60);
  border-bottom-color: rgb(60, 60, 60);
  border-left-color: rgb(55, 55, 55);
  background-color: rgb(55, 55, 55);
}

#script-detail-hide-button p {
  color: white;
  position: relative;
  right: 44px;
  bottom: 33px;
  transform: rotate(-45deg);
}

#script-detail-hide-button:hover {
  border-left-color: rgb(77, 77, 77);
  border-top-color: rgb(77, 77, 77);
}

#script-detail-show-button {
  display: block;
  position: absolute;
  padding: 0px;
  height: 50px;
  width: 50px;
  margin-left: auto;
  border: 30px solid;
  border-top-color: rgb(55, 55, 55);
  border-right-color: rgb(60,60,60);
  border-bottom-color: rgb(60, 60, 60);
  border-left-color: rgb(55, 55, 55);
  background-color: rgb(55,55,55);
}

#script-detail-show-button p {
  color: white;
  position: relative;
  right: 21px;
  bottom: 19px;
  transform: rotate(-45deg);
}

#script-detail-show-button:hover {
  border-left-color: rgb(77, 77, 77);
  border-top-color: rgb(77, 77, 77);
}

#script-detail-error-permission {
  height: 92vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: rgb(40,40,40);
  color: white;
  text-align: center;
  padding: 50px;
  font: 20px "system-ui";
}

#script-detail-nav-box {
  min-width: 140px;
}

@media only screen and (max-width: 1024px) {
  #script-detail-script-box {
    width: 95vw;
  }
}

@media only screen and (max-width: 769px) {
  #script-detail-info {
    display: none;
  }
  #script-detail-nav-box {
    display: none;
  }

  #script-detail-script-box {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 95vw !important;
  }

  .script-list.large {
    width: 95vw !important;
  }

  .script-list-characters-list.large {
    width: 46.5% !important;
  }

  .script-list-character-box {
    width: 100% !important;
  }

  .script-list-character-image.large {
    width: 13% !important;
  }

  .script-list-character-image.large img {
    height: 4vw !important;
  }

  .script-list-characters-box.large {
    width: 46.5% !important;
  }

  .script-list-character-text-box.large {
    width: 87% !important;
  }

  .script-list-character-desc.large {
    width: 100% !important;
    font-size: 9px !important;
    height: 16px !important;
  }

  .script-list-footer-disclaimer.large {
    font-size: 8px !important;
  }
}

@media only screen and (max-width: 697px) {
  .script-list-characters-list.large {
    width: 93% !important;
  }

  .script-list-character-box {
    width: 100% !important;
  }

  .script-list-type-box-townsfolk {
    max-height: none !important;
  }

  .script-list-type-box-non-townsfolk {
    max-height: none !important;
    padding-top: 15px;
  }

  .script-list-character-image.large {
    width: 17% !important;
  }

  .script-list-character-image.large img {
    height: 9vw !important;
  }

  .script-list-characters-box.large {
    width: 100% !important;
  }

  .script-list-character-text-box.large {
    width: 83% !important;
  }

  .script-list-character-desc.large {
    width: 100% !important;
    font-size: 12px !important;
    height: 18px !important;
  }

  .script-list-footer-disclaimer.large {
    font-size: 8px !important;
    width: 80% !important;
  }

  .script-list-character-desc {
    display: inline !important;
  }
}