#script-create-page-container {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#script-create-page-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#script-create-content-box {
  display: flex;
  flex-direction: row;
  color: white;
  flex-grow: 1;
  background-color: rgb(60, 60, 60);
}

#script-create-info {
  min-height: 100%;
  min-width: 330px;
  background-color: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
}

#script-create-script {
  flex-grow: 1;
}

#script-create-script-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 21px;
  margin-bottom: 21px;
  overflow-x: auto;
}

#script-create-info-title {
  background-color: rgb(41, 41, 41);
  border: none;
  color: white;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 86px 10px 5px 10px;
  padding: 10px;
}

#script-create-info-title:focus {
  outline: none;
  text-decoration: underline;
}

#script-create-info-title::placeholder {
  font-style: italic;
  color: grey;
}

#script-create-info-author-box * {
  background-color: rgb(41, 41, 41);
  border: none;
  color: white;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 0px 10px;
  padding: 0px 10px;
}

#script-create-info-author-input:focus {
  outline: none;
  text-decoration: underline;
}

#script-create-info-owner {
  margin: 5px 10px;
  padding: 10px;
  font-family: 'system-ui';
}

#script-create-info-owner a {
  color: white;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}

#script-create-info-description {
  resize: none;
  background-color: rgb(41, 41, 41);
  border:1px solid rgb(41, 41, 41);
  margin: 5px 10px;
  padding: 9px;
  height: 300px;
  font: 16px 'system-ui';
  color: white;
  overflow-y: auto;
}

#script-create-info-description:focus {
  outline: none;
  text-decoration: underline;
  border: 1px solid rgb(77, 77, 77);
}

#script-create-info-script-type-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  font-family: 'system-ui';
}

#script-create-info-script-type-label {
  height: 24px;
}

#script-create-info-script-type-select {
  background-color: rgb(41, 41, 41);
  color: white;
  font: 16px "system-ui";
  height: 24px;
  border: none;
  position: relative;
  bottom: 1px;
}

#script-create-info-script-type-select:focus {
  outline: none;
}

#script-create-info-visible-box {
  display: flex;
  flex-direction: row;
  align-items:center;
  position: relative;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
}

#script-create-info-visible-box-label {
  margin-right: 5px;
  font-family: 'system-ui';
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-right: 10px;
}

/* Hide default HTML checkbox */
#script-create-info-visible-box-input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444444;
  -webkit-transition: .1s;
  transition: .1s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 13px;
  width: 13px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

input:checked + .slider {
  background-color: #8582b3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#script-create-info-button-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.script-create-info-button {
  height: 50px;
  width: 150px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: #444444;
  color: white;
  border: 1px solid #888888;
}

#script-create-info-button-left {
  margin-left: 20px;
  margin-right: 2px;
}

#script-create-info-button-right {
  margin-left: 2px;
  margin-right: 20px;
}

.script-create-info-button:hover {
  background-color: rgb(80,80,80);
}
